html {
    scroll-behavior: smooth;
    overflow: auto;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollbar-hidden {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}